.slideContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensure the zoom effect doesn't reveal other slides */
  max-height: 100vh;
  background-color: var(--main-dark);
}
.swiperSlide {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent content from extending outside the slide */
}

.image {
  /*width: 100%;
   height: 100%; */

  width: auto;
  height: auto;
  max-height: 100%;
  transition: transform 5s linear; /* Smooth transition for zoom   transform: scale(1.2);*/

  position: absolute; /* Required for layout="fill" to work */
  top: 0;
  left: 0;
}
.containImage,
.image.containImage {
  object-fit: contain; /*  Scale the image to fit the container */
}
.coverImage,
.image.coverImage {
  object-fit: cover; /* Cover the entire container */
}
.zoomedIn,
.image.zoomedIn {
  transform: scale(1.2);
}

/* Active slide - apply zoom-out animation */
.activeSlide .image {
  transform: scale(1);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-dark); /* Black overlay */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease; /* Smooth fade effect */
}
.exitingSlide .overlay {
  opacity: 0.7; /* Black overlay becomes visible on slide-out */
}

.innerSlogans {
  position: absolute;
  bottom: 50px; /* Place it above the bottom */
  left: 100px; /* Align to the left */
  z-index: 10;
  max-width: 700px; /* Optional: limit width */
  height: auto; /* Let content determine height */
  display: flex;
  flex-direction: column; /* Stack slogans vertically */
  justify-content: flex-end; /* Align text at the bottom */
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Slight offset for a dynamic effect */
  transition: opacity 5s linear, transform 5s linear; /* Smooth fade and move */

  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
}

.activeSlide .innerSlogans {
  opacity: 1; /* Fully visible when the slide is active */
  transform: translateY(0); /* Reset the offset */
}

.innerSlogans h1 {
  color: var(--main-light);
  font-size: 6em;
  letter-spacing: 0.2em;
}

.innerSlogans h2 {
  color: var(--main-red);
  font-size: 1.5em;
  letter-spacing: 0.8em;
}
.innerSlogans h2::before {
  content: "";
  display: inline-block;
  height: 0.1rem;
  width: 40px;
  margin-right: 0.7rem;
  background: var(--main-red);
  transition: width 0.3s ease;
  vertical-align: middle; /* Aligns the line with the text */
}

.innerSlogans h2:hover::before {
  width: 80px;
}
