.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  text-transform: uppercase;
  color: var(--main-light);
  letter-spacing: 0.2em;
  line-height: 2em;
  font-size: 12px;
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  height: calc(100% - 200px);
}
.prevButton {
  padding-left: 6em;
  left: 0;
}
.nextButton {
  padding-right: 6em;
  right: 0;
}
.prevButton::before,
.nextButton::after {
  content: "";
  width: 4em;
  height: 1px;
  background-color: var(--main-light);
  position: absolute;
  top: calc(50% - 1px);
  transition: width 0.3s ease;
}
.prevButton::before {
  left: 0;
}
.nextButton::after {
  right: 0;
}
.prevButton:hover {
  padding-left: 90px;
}
.prevButton:hover::before {
  width: 75px;
}
.nextButton:hover {
  padding-right: 90px;
}
.nextButton:hover::after {
  width: 75px;
}

/* --breakpoint-sm: 600px;
--breakpoint-md: 900px;
--breakpoint-lg: 1200px;
--breakpoint-xl: 1536px; */

@media (max-width: 900px) {
  .prevButton,
  .nextButton {
    height: 20px;
  }
}

.prevButton:focus-visible {
  outline: none;
}

.nextButton:focus-visible {
  outline: none;
}
