.filter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  font-size: 1rem;
  line-height: 2.5;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--main-grey);
  padding-right: 16px;
  cursor: pointer;
}
.item:hover {
  color: var(--main-dark);
}
.active,
.item.active {
  color: var(--main-dark);
}
