/* components/Gallery.module.css */
.gallery {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.vertical,
.imageWrapper.vertical {
  height: 369px;
  width: 278px;
}

.horizontal,
.imageWrapper.horizontal {
  height: 175px;
  width: 278px;
}

.imageWrapper:hover {
  transform: scale(1.05);
}

.image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* .image:hover {
  transform: scale(1.05);
} */
.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 21;
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--main-dark);
  color: var(--main-light);
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transition: all 0.3s ease;
  scale: 1;
}

.scrollToTop:hover {
  opacity: 1;
  scale: 1.1;
}
