.hamburger {
  position: absolute;
  top: 24px;
  right: 24px;
  margin-right: 0;
  margin-left: auto;
  overflow: visible;
  cursor: pointer;
  z-index: 7;
  border: 0;
  transition-timing-function: linear;
  transition-duration: 0.3s ease;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  background-color: transparent;
}
.hamburgerLabel {
  display: block;
  font-family: "Yantramanav", Arial;
  font-size: 16px;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: -4em;
  padding-right: 4em;
  text-transform: uppercase;
  line-height: 1.5em;
  transition: color 0.3s ease 0.4s;
}
.hamburger.isActive .hamburgerLabel {
  transition: color 0.1s ease;
}

.hamburgerBox {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
  vertical-align: middle;
}
.hamburgerInner {
  display: block;
  top: 0;
}

.hamburgerInner:after,
.hamburgerInner:before {
  display: block;
  content: "";
}
.hamburgerInner,
.hamburgerInner:after,
.hamburgerInner:before {
  position: absolute;
  width: 30px;
  height: 3px;
  transition: all 0.3s ease 0.5s;
}
.hamburgerInner:before {
  top: 8px;
  left: -8px;
}
.hamburgerInner:after {
  top: 16px;
  width: 26px;
}
.isActive {
  background-color: transparent;
}
.hamburger.isActive .hamburgerInner,
.hamburger.isActive .hamburgerInner:after {
  transition-delay: 0.1s;
}
.hamburger.isActive .hamburgerInner {
  -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
.hamburger.isActive .hamburgerInner:before {
  opacity: 0;
  transition: opacity 0.3s ease 0s;
}
.hamburger.isActive .hamburgerInner:after {
  width: 30px;
  -webkit-transform: translate3d(0, -16px, 0) rotate(-90deg);
  transform: translate3d(0, -16px, 0) rotate(-90deg);
}

/* Color Scheme */

.hamburger.lightHamburger {
  color: var(--main-light);
}
.hamburger.darkHamburger {
  color: var(--main-dark);
}

.hamburger.lightHamburger .hamburgerInner {
  background-color: var(--main-light);
}

.hamburger.darkHamburger .hamburgerInner {
  background-color: var(--main-dark);
}

.hamburger.lightHamburger.isActive .hamburgerLabel,
.hamburger.darkHamburger.isActive .hamburgerLabel {
  color: var(--main-light); /* active is always light */
}

.hamburger.lightHamburger .hamburgerInner,
.hamburger.lightHamburger .hamburgerInner:after,
.hamburger.lightHamburger .hamburgerInner:before {
  background-color: var(--main-light);
}

.hamburger.darkHamburger .hamburgerInner,
.hamburger.darkHamburger .hamburgerInner:after,
.hamburger.darkHamburger .hamburgerInner:before {
  background-color: var(--main-dark);
}

.hamburger.isActive .hamburgerInner,
.hamburger.lightHamburger.isActive .hamburgerInner,
.hamburger.darkHamburger.isActive .hamburgerInner,
.hamburger.isActive .hamburgerInner:after,
.hamburger.isActive .hamburgerInner:before,
.hamburger.lightHamburger.isActive .hamburgerInner:after,
.hamburger.lightHamburger.isActive .hamburgerInner:before,
.hamburger.darkHamburger.isActive .hamburgerInner:after,
.hamburger.darkHamburger.isActive .hamburgerInner:before {
  background-color: var(--main-light);
}
