.logo {
  position: absolute;
  top: 24px;
  left: 24px;
  text-transform: uppercase;
}

/* Color Scheme */

.lightLogo,
.lightLogo.logo {
  color: var(--main-light);
}

.darkLogo,
.darkLogo.logo {
  color: var(--main-dark);
}
