.msNav {
  display: flex;
  align-items: center;
}
.heightFullVp {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background-color: #151515;
  z-index: 5;
  overflow: hidden;
  transition: height 0.8s cubic-bezier(0.3, 1, 0.3, 1) 0.1s;
}
.isVisible {
  height: 100vh;
}
.msNav.isVisible .heightFullVp {
  height: 100vh;
  transition: height 1s ease;
}
